[submodule "libs/dotbot"]
	path = libs/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
  shallow = true
[submodule "libs/powerlevel10k"]
	path = libs/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	ignore = dirty
  shallow = true
[submodule "libs/dotbot-apt-get"]
	path = libs/dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get
	ignore = dirty
  shallow = true
[submodule "libs/fzf"]
	path = libs/fzf
	url = https://github.com/junegunn/fzf.git
	ignore = dirty
  shallow = true
[submodule "libs/nvm"]
	path = libs/nvm
	url = https://github.com/nvm-sh/nvm.git
	ignore = dirty
  shallow = true
[submodule "libs/zplug"]
  path = libs/zplug
	url = https://github.com/zplug/zplug
  shallow = true
  ignore = dirty
