# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf


# These are explicitly windows files and should use crlf
*.reg      text eol=crlf
*.ahk      text eol=crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf
*user.setup -text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
